<!DOCTYPE html>
<html lang="en">
        <head>
          <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
          <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>
        <body>
{% include "header.html" %}
          {% block header %}
          {% endblock %}
          <div class='side-pane'>
            {% for f in foods %}
              <div class="pane">
              <div class="row">
                <center>
                  <a href="{{url_for('foodVarieties', food_id=f.id)}}"><h3>{{f.name}}</h3></a>
                </center>
              </div></div>
            {% endfor %}
          </div>
          <div class="content-container container">
            {% block content %}
            {% endblock %}
          </div>
        </body>
</html>
